@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 10px rgba(155, 155, 155, 0.25);
          box-shadow: inset 0 0 10px rgba(155, 155, 155, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: rgba(32, 32, 32, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(32, 32, 32, 0.2);
}

.app {
  background-color: #EEF0EB;
}

@media (min-width: 0px) {
  .app {
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }
}

@media (min-width: 960px) {
  .app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }
}

@media (min-width: 0px) {
  .controls {
    height: 99vh;
    overflow: auto;
    width: 97.5%;
    padding: 1%;
    margin-top: 5%;
  }
}

@media (min-width: 960px) {
  .controls {
    height: 99vh;
    min-width: 30%;
    padding: 1%;
    margin-top: 3%;
  }
}

.controls-top {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result {
  z-index: 2;
}

@media (min-width: 0px) {
  .result {
    overflow-y: auto;
    background-color: #ebf0e6;
    width: 97.5%;
    height: 99vh;
    padding: 2%;
  }
}

@media (min-width: 960px) {
  .result {
    overflow-y: auto;
    background-color: #e4eadf;
    min-width: 65%;
    height: 99vh;
    padding: 2%;
    border-left: medium solid black;
  }
}

.result-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hello-name {
  font-size: 1.5rem;
  font-family: 'DM Serif Display', serif;
}

.log-in-out {
  width: 15%;
  height: 80%;
  border-radius: 20px;
}

.result-title {
  font-size: 2.5rem;
  font-family: 'DM Serif Display', serif;
}

.input-section {
  width: 100%;
  height: 20%;
}

.whats {
  font-size: 2rem;
  font-family: 'DM Serif Display', serif;
  margin: 0;
  margin-bottom: 2%;
}

.input-section-top {
  height: 50%;
  width: 100%;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ing-input {
  width: 74%;
  padding-inline: 2%;
  font-size: 1.5rem;
  border-radius: 10px;
}

.add-button {
  width: 20.5%;
  height: 100%;
  margin-left: 2.5%;
  font-size: 1.5rem;
  border-radius: 10px;
}

.get-button {
  margin-top: 1%;
  height: 45%;
  width: 100%;
  background-color: black;
  color: #DFE4DB;
  font-size: 1.5rem;
  border-radius: 15px;
  font-family: 'DM Serif Display', serif;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.ingredient-track {
  margin-top: 3%;
  width: 100%;
  height: 41%;
  overflow: auto;
  background-color: #ebefe7;
  padding-top: 2%;
  border-radius: 10px;
  border: thin solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fav-button {
  height: 9%;
  width: 100%;
  background-color: black;
  color: #DFE4DB;
  font-size: 1.5rem;
  border-radius: 15px;
  font-family: 'DM Serif Display', serif;
}

.tagstyle::before {
  display: inline-block;
  content: "\00d7";
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 7.5px;
  margin-top: 1%;
  border-right: thin solid rgba(0, 0, 0, 0.2);
}

.tagstyle {
  border: thin solid black;
  width: 96%;
  margin-left: 2%;
  padding-bottom: 1%;
  min-height: 7vh;
  background-color: #E7DCC9;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 3%;
  list-style: none;
  font-size: 2.25rem;
  text-justify: auto;
}

.meal-list-wrapper {
  overflow-x: hidden;
}

.meal-list {
  padding-bottom: 5%;
}

@media (min-width: 0px) {
  .meal-list {
    width: 100vw;
  }
}

@media (min-width: 960px) {
  .meal-list {
    width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.meals {
  width: 100%;
}

article {
  border-top: medium solid black;
}

@media (min-width: 960px) {
  article {
    padding-top: 5%;
  }
}

@media (min-width: 0px) {
  .m-inline {
    width: 90%;
    margin-left: 2%;
    margin-top: -10%;
  }
}

@media (min-width: 960px) {
  .m-inline {
    margin-top: -5%;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 2%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.m-title {
  font-family: 'DM Serif Display', serif;
}

@media (min-width: 0px) {
  .m-title {
    font-size: 2rem;
    margin-bottom: 2%;
  }
}

@media (min-width: 960px) {
  .m-title {
    min-width: 25%;
    font-size: 2.125rem;
  }
}

.m-img {
  border-radius: 15px;
  border: medium solid black;
}

@media (min-width: 0px) {
  .m-img {
    min-width: 95%;
  }
}

@media (min-width: 960px) {
  .m-img {
    min-width: 45%;
    margin-left: 5%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 0px) {
  .m-ul {
    font-size: 1.5rem;
    list-style: none;
  }
}

@media (min-width: 960px) {
  .m-ul {
    margin-left: 0%;
    min-width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.m-buttons {
  padding-top: 5%;
}

@media (min-width: 0px) {
  .m-buttons {
    width: 100%;
    min-height: 10vh;
  }
}

@media (min-width: 960px) {
  .m-buttons {
    width: 100%;
    min-height: 60%;
  }
}

.m-details {
  width: 78%;
  margin-right: 2%;
  background-color: #111;
  font-weight: 500;
  color: white;
  font-size: 1.25rem;
  border-radius: 7.5px;
}

@media (min-width: 0px) {
  .m-details {
    min-height: 9vh;
  }
}

@media (min-width: 960px) {
  .m-details {
    min-height: 100%;
  }
}

.m-save {
  width: 20%;
  background-color: #111;
  font-weight: 500;
  color: white;
  font-size: 1.25rem;
  border-radius: 7.5px;
}

@media (min-width: 0px) {
  .m-save {
    min-height: 9vh;
  }
}

@media (min-width: 960px) {
  .m-save {
    min-height: 100%;
  }
}

.recipe-wrapper {
  font-size: xx-small;
  width: 90%;
}

.recipe-panel {
  display: block;
}

.recipe-card {
  font-size: 1rem;
  z-index: 1000;
  background-color: #BECFBC;
  border-radius: 20px;
  padding: 3%;
  overflow: auto;
  border: medium solid black;
}

@media (min-width: 0px) {
  .recipe-card {
    position: relative;
    top: 10px;
    width: 99%;
    height: 75vh;
  }
}

@media (min-width: 960px) {
  .recipe-card {
    position: fixed;
    top: 5%;
    left: 30%;
    width: 60%;
    height: 80%;
    -webkit-transform: translate(-5px, 0%);
            transform: translate(-5px, 0%);
    -webkit-box-shadow: 0px 10px 100px #00000033;
            box-shadow: 0px 10px 100px #00000033;
  }
}

.ing-heading {
  font-size: 1.25rem;
  font-weight: 600;
}

.ingredients {
  margin-left: 5%;
  font-weight: 500;
}

.favorite-section {
  overflow-y: scroll;
}

@media (min-width: 0px) {
  .favorite-section {
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-color: #E7DDC8;
    z-index: 3;
  }
}

@media (min-width: 960px) {
  .favorite-section {
    width: 69%;
    min-width: 69%;
    height: 100%;
    background-color: #E7DDC8;
    z-index: 3;
  }
}

.favorite-section-inner {
  overflow-y: scroll;
  width: 98%;
}

.top-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=layout.css.map */