@import "breakpoints";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(155, 155, 155, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: rgba(32, 32, 32,0.4);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(32, 32, 32, 0.2);
}

.app{
  background-color: #EEF0EB;
  @include xs{
    //display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100%;
  };
  @include lg{
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100%;
  };
}

.controls{
  @include xs{
    height: 99vh;
    overflow: auto;
    width: 97.5%;
    padding: 1%;
    margin-top: 5%;
  };
  @include lg{
    height: 99vh;
    min-width: 30%;
    padding: 1%;
    margin-top: 3%;
    
  };
}

.controls-top{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.result{
  z-index: 2;
  @include xs{
    overflow-y: auto;
    background-color: #ebf0e6;
    width: 97.5%;
    height: 99vh;
    padding: 2%;
  };
  @include lg{
    overflow-y: auto;
    background-color: #e4eadf;
    min-width: 65%;
    height: 99vh;
    padding: 2%;
    border-left: medium solid black;
  };
}

.result-top{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hello-name{
  font-size: 1.5rem;
  font-family: 'DM Serif Display', serif;
}

.log-in-out{
  width: 15%;
  height: 80%;
  border-radius: 20px;
}

.result-title{
  font-size: 2.5rem;
  font-family: 'DM Serif Display', serif;
}


.input-section{
  width: 100%;
  height: 20%;
  //border: thin solid blue;
}

.whats{
  font-size: 2rem;
  font-family: 'DM Serif Display', serif;
  margin: 0;
  margin-bottom: 2%;
}

.input-section-top{
  height: 50%;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  //border: thin solid red;
}

.ing-input{
  width: 74%;
  padding-inline: 2%;
  //line-height: 0%;
  //padding: 1% 0% 15px 0%;
  font-size: 1.5rem;
  border-radius: 10px;
}

.add-button{
  width: 20.5%;
  height: 100%;
  margin-left: 2.5%;
  font-size: 1.5rem;
  border-radius: 10px;
}

.get-button{
  margin-top: 1%;
  height: 45%;
  width: 100%;
  background-color: black;
  color: #DFE4DB;
  font-size: 1.5rem;
  border-radius: 15px;
  font-family: 'DM Serif Display', serif;
}

ul{
  padding-inline-start: 0px;
}

.ingredient-track{
  margin-top: 3%;
  width: 100%;
  height: 41%;
  overflow: auto;
  background-color: #ebefe7;
  padding-top: 2%;
  border-radius: 10px;
  border: thin solid black;
  box-sizing: border-box;
  // display: flex;
  // flex-direction: column-reverse;
}

.fav-button{
  height: 9%;
  width: 100%;
  background-color: black;
  color: #DFE4DB;
  font-size: 1.5rem;
  border-radius: 15px;
  font-family: 'DM Serif Display', serif;
}

.tagstyle::before{
    display: inline-block;
    content: "\00d7";
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 7.5px;
    margin-top: 1%;
    border-right: thin solid rgba(0, 0, 0, 0.2);
  }
.tagstyle{
    border: thin solid black;
    width: 96%;
    margin-left: 2%;
    padding-bottom: 1%;
    min-height: 7vh;
    background-color: #E7DCC9;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 3%;
    list-style: none;
    font-size: 2.25rem;
    text-justify: auto;
}

.meal-list-wrapper{
  //display: flex;
  overflow-x: hidden;
}

.meal-list{
  
  padding-bottom: 5%;
  @include xs{
    width: 100vw;
  }
  @include lg{
    width: 70vw;
    display: flex;
    flex-direction: row;
  }
  
}

.meals{
  //border: thin solid red;
  width: 100%;
}

article{
  border-top: medium solid black;
  
  @include xs{
    //padding-bottom: 15px;
  };
  @include lg{
    padding-top: 5%;
  };
  //width: 50%;
}

.m-inline{
  @include xs{
   width: 90%;
   margin-left: 2%;
   margin-top: -10%
  };
  @include lg{
    margin-top: -5%;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 2%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  };
}

.m-title{
  font-family: 'DM Serif Display', serif;
  @include xs{
    font-size: 2rem;
    margin-bottom: 2%;
  };
  @include lg{
    min-width: 25%;
    font-size: 2.125rem;
  };
}
.m-img{
  border-radius: 15px;
  border: medium solid black;
  @include xs{
   min-width: 95%;
  };
  @include lg{
    min-width: 45%;
    margin-left: 5%;
    object-fit: cover;
  };
}

.m-ul{
  @include xs{
    font-size: 1.5rem;
    list-style: none;
  };
  @include lg{
    margin-left: 0%;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  };
}

.m-buttons{
  padding-top: 5%;
  @include xs{
    width: 100%;
    min-height: 10vh; 
  };
  @include lg{
    width: 100%;
    min-height: 60%; 
  };
}

.m-details{
  width: 78%;
  margin-right: 2%;
  background-color: #111;
  font-weight: 500;
  color: white;
  font-size: 1.25rem;
  border-radius: 7.5px;
  //font-weight: 600;
  @include xs{
    min-height: 9vh;
  };
  @include lg{
    min-height: 100%;
  };
}
.m-save{
  width: 20%;
  background-color: #111;
  font-weight: 500;
  color: white;
  font-size: 1.25rem;
  border-radius: 7.5px;
  @include xs{
    min-height: 9vh;
  };
  @include lg{
    min-height: 100%;
  };
}

.recipe-wrapper{

  font-size: xx-small;
  //background-color: yellow;
  width: 90%;
}

.recipe-panel{
  display: block;
}

.recipe-card{
  font-size: 1rem;
  z-index: 1000;
  background-color: #BECFBC;
  border-radius: 20px;
  padding: 3%;
  overflow: auto;
  border: medium solid black;

  @include xs{
    position: relative;
    top: 10px;
    width: 99%;
    height: 75vh;
  };
  @include lg{
    position: fixed;
    top: 5%;
    left: 33%;
    width: 60%;
    height: 80%;
    transform: translate(-5px,0%);
    box-shadow: 0px 10px 100px #00000033;
  };
}

.ing-heading{
  font-size: 1.25rem;
  font-weight: 600;
}

.ingredients{
  margin-left: 5%;
  font-weight: 500;
}

.favorite-section{
 
  @include xs{
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-color: #E7DDC8;
    z-index: 3;
  
  };
  @include lg{
    width: 69%;
    min-width: 69%;
    height: 100%;
    background-color: #E7DDC8;
    z-index: 3;
  };
}


